@import "../config/vars";

.nav-bar {
  background-color: coral;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo {
    font-family: $logo_ff;
  }
  &__link {
    &_active {
    }
  }

  &__link-group {
    ul {
      list-style-type: none;
      display: flex;
    }
  }
}
