@import 'config/base';

html {
  font-size: (10/16) * 1rem;
}

body {
  font-size: 1.6em;
  font-family: $ff;
}

.link {
  text-decoration: none;
}

//! FONT SIZE
//! (set html font-size with rem) & (use rem (not px) or em)
//! rem - last parent tag(like html) with rem
//! em - first parent tag